{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QueryCrudify</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <!-- TOP HEADING TITLE -->
        <h1 class = "topTitle">Query Crudify</h1>


        <!-- DISPLAY TABLE -->
        <div class = "displayTableDiv">
            <table class = "tableStyling" border="1" cellpadding = "10px">
                <tr>
                    <th class = "thStyling">UniqueID</th>
                    <th class = "thStyling">Name</th>
                    <th class = "thStyling">Age</th>
                    <th class = "thStyling">Email</th>
                    <th class = "thStyling">Edit</th>
                    <th class = "thStyling">Delete</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>Dummy Person 0</td>
                    <td>0</td>
                    <td>dummy.person@gmail.com</td>
                    <td><i class="fab fa-envira" name = "Edit"></i></td>
                    <td><i class="fab fa-mendeley" name = "Delete"></i></td>
                </tr>
                {% for i in basicTable %}
                    <tr>
                        <td>{{i.unique_id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.email}}</td>
                        <td><i class="fab fa-envira" name = "Edit"></i></td>
                        <td><i class="fab fa-mendeley" name = "Delete"></i></td>
                    </tr>
                {% endfor %}
            </table>

            <!-- ADD Button -->
            <div class = "positionAddButton">
                <button name = "addButton" class = "addButtonMainClass addButton" onclick = "addButtonFunction()">
                    Add Values to Database
                </button>
            </div>

        </div>



        <!-- ADD FORM -->
        <div id = "addParamsForm">
            <h3 align = "center">Add Value to Database</h3>
            <form method = "POST">
                {% csrf_token %}
                <table class = "addFormTable" border = "1" cellpadding = "10px">
                    <tr>
                        <th class = "thStyling">
                            Parameters
                        </th>
                        <th class = "thStyling">
                            Values
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            <input style = "background-color: #adddf0; border: 1px solid #008CBA; border-radius: 5px;" type = "text" name = "name" placeholder = "Name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Age
                        </td>
                        <td>
                            <input style = "background-color: #adddf0; border: 1px solid #008CBA; border-radius: 5px;" type = "text" name = "age" placeholder = "Age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input style = "background-color: #adddf0; border: 1px solid #008CBA; border-radius: 5px;" type = "text" name = "email" placeholder = "Email-iD">
                        </td>
                    </tr>
                    <tr>
                        <td colspan = "2">
                            <button type = "submit" name = "submit" class = "submit-button">Add</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        


        <!-- FOOTER -->
        <div class = "footer">
            <span style = "float: left; padding-left: 15px; padding-top: 3px;">
                Crafted with &#10084;&#65039; Varun Bhattacharya
            </span>
            <span style = "float: right; padding-right: 15px; padding-top: 3px;">
                Follow me on:
                <a href = "https://github.com/VarunBhattacharya" target="_blank" class = "footerAnchor">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href = "https://www.linkedin.com/in/varunbhattacharya/" target="_blank" class = "footerAnchor">
                    <i class="fab fa-linkedin-in"></i>
                <a href = "https://varunbhattacharya.github.io/" target="_blank" class = "footerAnchor">
                    <i class="fab fa-sticker-mule"></i>
                </a>
            </span>
        </div>

    </body>

    <script src = "{% static 'js/index.js' %}"></script>
</html>