{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QueryCrudify</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <!-- TOP HEADING TITLE -->
        <h1 class = "topTitle">Query Crudify</h1>

        

        <!-- FOOTER -->
        <div class = "footer">
            <span style = "float: left; padding-left: 15px; padding-top: 3px;">
                Crafted with &#10084;&#65039; Varun Bhattacharya
            </span>
            <span style = "float: right; padding-right: 15px; padding-top: 3px;">
                Follow me on:
                <a href = "https://github.com/VarunBhattacharya" target="_blank" class = "footerAnchor">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href = "https://www.linkedin.com/in/varunbhattacharya/" target="_blank" class = "footerAnchor">
                    <i class="fab fa-linkedin-in"></i>
                <a href = "https://varunbhattacharya.github.io/" target="_blank" class = "footerAnchor">
                    <i class="fab fa-sticker-mule"></i>
                </a>
            </span>
        </div>

    </body>

</html>